@import "tailwindcss";
@plugin "daisyui";


/* font */

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');


*{
    
    font-family: "Archivo Black", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.bg_css{
  background-color: #ffeded;
}

.rounded_css{
  border-radius: 15px;
}

/* button */

.button_css {
 padding: 10px 20px;
 border: unset;
 border-radius: 15px;
 color: #ffff;
 z-index: 1;
 background: #bf1e2e;
 position: relative;
 font-size: 17px;
 transition: all 250ms;
 overflow: hidden;
}

.button_css::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 0;
 border-radius: 15px;
 background-color: #ffff;
 z-index: -1;
 transition: all 250ms
}

.button_css:hover {
 color: #bf1e2e;
  background-color: #ffff;
}

.button_css:hover::before {
 width: 100%;
}


/* navlinks */

.card_css {
  backdrop-filter: blur(6px);
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  border: none;
  border-radius: 17px;
}

.card_css:hover {
    border-radius: 17px;
    padding: 3px 15px;
    border: 1px solid #bf1e2e;
    transform: scale(1);
}

.card_css:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

#NavLink_css > a.active{
    border: 2px solid #bf1e2e;
    padding: 3px 10px;
}

/* google */

.google_btn {
 padding: 10px 20px;
 border: unset;
 border-radius: 15px;
 color: black;
 z-index: 1;
 background: white;
 position: relative;
 font-size: 17px;
 transition: all 250ms;
 overflow: hidden;
}


.google_btn:hover {
 color: #bf1e2e;
}

.google_btn:hover::before {
 width: 100%;
}

/* profile btn */

.profile_btn_css{
  transition: all 0.5s;
  border: 0px;
}

.profile_btn_css:hover {
    border-radius: 17px;
    transform: scale(1);
}

.profile_btn_css:active {
  transform: scale(0.95) rotateZ(1.7deg);
}


.profile_css { 
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #bf1e2e;
}

.profile_css img {
  object-fit: cover;
  border-radius: 50%;
}

.profile_css:hover{
  box-shadow: 0 20px #ffff, 40px #bf1e2e; animation: glow-border 1.5s infinite alternate;
  animation: glow-border 1.5s infinite alternate;
}

@keyframes glow-border {
0% {
box-shadow: 0 0 10px #ffff, 0 0 20px #bf1e2e;
}
100% {
box-shadow: 0 0 30px #ffff, 0 0 60px #bf1e2e;
}
}


/* card desing */

.card_des_css {
  background: #ffeded;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
}

.card_des_css div {
  z-index: 1;
  color: black;
}

.card_des_css::before {
  content: '';
  position: absolute;
  width: 150px;
  background-image: linear-gradient(180deg, #bf1e2e, #ee1c25);
  height: 150%;
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card_des_css::after {
  content: '';
  position: absolute;
  background:white;
  inset: 5px;
  border-radius: 15px;
}  

/* .card_des_css:hover:before {
  background-image: linear-gradient(180deg, rgb(81, 255, 0), purple);
  animation: rotBGimg 3.5s linear infinite;
} */

